.flex-container{
  display:flex;
  padding:15px;
  background-color:#eee;
}
.div-log{
  border-radius:15px;
  padding:10px;
  background-color:#FFF;
  flex-grow:1;
}
.sorry{
  width:10px;
}
.div-table{
  display:table;
  width:60%;
  background-color:#eee;
  border:3px solid #AAA;
  border-radius:10px;
  border-spacing:5px;/*cellspacing:poor IE support for  this*/
}
.div-table-row{
  display:table-row;
  width:auto;
  clear:both;
}
.div-table-col{
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  width:200px;
  background-color:#ccc;
  border:1px solid #777777;
}
